doctype
html
	head
		title Features app
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/site.css")
	body
		include ./navbar
		block main-content
	footer
		p © 2016 Feature sets - Running on MEAN stack & Jade, Stylus
	include ./scripts
